{% extends "base.html" %}
{% block title %}Predict Home Price{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='app.css')}}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<form action="#" method="post" class="form">
    <h2>Area (Square Feet)</h2>
    <input class="area"  name="total_sqft" value="1000">
	<h2>room</h2>
	<div class="switch-field">
		<input type="radio" id="radio-bhk-1" name="room" value="1"/>
		<label for="radio-bhk-1">1</label>
		<input type="radio" id="radio-bhk-2" name="room" value="2" checked/>
		<label for="radio-bhk-2">2</label>
		<input type="radio" id="radio-bhk-3" name="room" value="3"/>
		<label for="radio-bhk-3">3</label>
		<input type="radio" id="radio-bhk-4" name="room" value="4"/>
		<label for="radio-bhk-4">4</label>
		<input type="radio" id="radio-bhk-5" name="room" value="5"/>
		<label for="radio-bhk-5">5</label>
	</div>
    <h2>Bath</h2>
	<div class="switch-field">
		<input type="radio" id="radio-bath-1" name="bath" value="1"/>
		<label for="radio-bath-1">1</label>
		<input type="radio" id="radio-bath-2" name="bath" value="2" checked/>
		<label for="radio-bath-2">2</label>
		<input type="radio" id="radio-bath-3" name="bath" value="3"/>
		<label for="radio-bath-3">3</label>
		<input type="radio" id="radio-bath-4" name="bath" value="4"/>
		<label for="radio-bath-4">4</label>
		<input type="radio" id="radio-bath-5" name="bath" value="5"/>
		<label for="radio-bath-5">5</label>
	</div>
    
    </div>
        <h2>Location</h2>
    <div>

	<select class="location" name="location" id="location">
		<option value="" disabled="disabled" selected="selected">Choose a Location</option>
			<option>Electronic City</option>
			<option>Rajaji Nagar</option>
	  </select>
    <input class="submit" type="submit" value="Submit">
</form>
<script type="text/javascript">

	$(document).on('ready',function (){
		 
		$.getJSON(href="{{url_for('static',filename='columns.json')}}", function(data) {
			$.each(data, function(key, value) {
				$("#location").append('<option name="' + key + '">' + value + '</option>');
			}); // close each()
		}); // close getJSON()
	
	});
	
	</script>
	
{% endblock %}